---
const getCurrentYear = () => {
  return new Date().getFullYear();
};
---

<footer class="bg-white text-center text-black font-barlow py-[70px]">
  <>
    <p class="mb-[50px] text-black">
      Copyright &copy; {getCurrentYear()}. <a
        class="text-black font-bold underline hover:no-underline"
        href="http://ahhacreative.com"
        target="_blank"
        rel="noreferrer">Ah Ha Creative, LLC</a
      >. All Rights Reserved.
    </p>
    <div class="center">
      <div class="mb-[3px] mr-[5px] text-black">Hosted on</div>
      <a href="https://vercel.com" target="_blank" rel="noreferrer"
        ><img src="/images/vercel.svg" width="97" height="22" alt="Vercel" /></a
      >
    </div>
  </>
</footer>
