---
import { slugify } from "../helpers/Slugify";
const { heading } = Astro.props;
---

<h3 id={slugify(heading)} class="flex items-center gap-x-4 -ml-9 mb-5">
  <a href={`#${slugify(heading)}`}
    ><svg
      width="20"
      height="28"
      viewBox="0 0 20 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.8949 1.34552L9.68937 7.9038L12.9685 7.79128L14.1419 1.44197C14.1634 1.30266 14.2009 1.20621 14.2544 1.15263C14.308 1.09905 14.4098 1.06154 14.5599 1.04011L17.0514 0.943665C17.3193 0.965097 17.4532 1.09905 17.4532 1.34552L16.2798 7.67876L19.2857 7.56624C19.5321 7.57696 19.6554 7.71627 19.6554 7.98417L19.35 10.556C19.3178 10.8132 19.1839 10.9472 18.9481 10.9579L15.6529 11.0704L14.592 16.7928L18.2248 16.6642C18.4927 16.675 18.6266 16.8196 18.6266 17.0983L18.3051 19.6541C18.273 19.7934 18.2301 19.8952 18.1766 19.9595C18.1337 20.0238 18.0426 20.0613 17.9033 20.072L13.9651 20.2167L12.8078 26.5338C12.7649 26.7267 12.7113 26.8499 12.647 26.9035C12.5827 26.9464 12.497 26.9678 12.3898 26.9678L9.81796 27.0643C9.59292 27.0428 9.4804 26.941 9.4804 26.7589L10.6538 20.3292L7.37468 20.4417L6.24948 26.5338C6.20662 26.7267 6.15304 26.8499 6.08874 26.9035C6.02445 26.9464 5.93872 26.9678 5.83155 26.9678L3.25968 27.0643C3.03464 27.0428 2.92212 26.941 2.92212 26.7589L4.06339 20.5542L1.08966 20.6507C0.821757 20.6399 0.687805 20.5113 0.687805 20.2649L0.961067 17.6769C0.982499 17.4305 1.12717 17.2965 1.39507 17.2751L4.69029 17.1625L5.75118 11.408L2.11841 11.5366C1.85051 11.5259 1.71655 11.3973 1.71655 11.1508L2.00589 8.57892C2.03804 8.3003 2.17735 8.16099 2.42382 8.16099L6.362 8.03239L7.58364 1.44197C7.62651 1.19549 7.76582 1.06154 8.00157 1.04011L10.4931 0.943665C10.761 0.965097 10.8949 1.09905 10.8949 1.34552ZM9.06247 11.2955L8.00157 17.034L11.2807 16.9214L12.3416 11.1829L9.06247 11.2955Z"
        fill="#50514B"></path>
    </svg>
  </a>
  {heading}
</h3>
